/* The background of the whole page */
body{
    background-size: 100% 100%;
    background-image: url("http://wallpapercave.com/wp/Xc4ZUA0.png");
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: fixed;
}

/* Where the logo is */
header{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    
}

/* The section where the content of each page changes */
#content{
    width: 80%;
    background-color: #D3D3D3;
    margin-right: auto;
    margin-left: auto;
    padding-top: 1px;
    padding-bottom: 1px;
    min-width: 850px;
}

/* Footer */
#footer{
    width: 80%;
    background-color: #333;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    padding-top: 1px;
    color: white;
    padding-bottom: 1px;
    min-width: 850px;
    font-family: 'Times New Roman';
    font-size: 12pt;
}

/* Creates circular images for shop page */
.img-circle
{
    border-radius: 50%;
    border:20px;
    border-color:darkgrey;
}

